.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    /* font-size: var(--bs-btn-font-size); */
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffdd00;
    --bs-btn-border-color: #ffdd00;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffdd00;
    --bs-btn-disabled-border-color: #ffdd00;
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
}


.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8
}

.btn-bd-accent {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bd-accent);
    --bs-btn-border-color: var(--bd-accent);
    --bs-btn-hover-color: var(--bd-dark);
    --bs-btn-hover-bg: var(--bd-accent);
    --bs-btn-hover-border-color: var(--bd-accent);
    --bs-btn-focus-shadow-rgb: var(--bd-accent-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--bs-btn-hover-bg);
    --bs-btn-active-border-color: var(--bs-btn-hover-border-color)
}

.btn-bd-light {
    --bs-btn-color: var(--bs-gray-600);
    --bs-btn-border-color: var(--bs-gray-400);
    --bs-btn-hover-color: var(--bd-violet);
    --bs-btn-hover-border-color: var(--bd-violet);
    --bs-btn-active-color: var(--bd-violet);
    --bs-btn-active-bg: var(--bs-white);
    --bs-btn-active-border-color: var(--bd-violet);
    --bs-btn-focus-border-color: var(--bd-violet);
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb)
}

/* .btn,.bd-example>.btn-group {
    margin: .25rem .125rem
} */

.content__search {
    /*    float: right;*/
    width: 460px;
/* width: 46%; */
    position: absolute;
    top: 50px;
    right: 13px;
}

.select__item select {
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.datepicker_row{
    max-width: 320px;
}


.input-reset {
position: absolute;
/* position: inline-block; */
float: right;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
    /* font-size: 25px; */
    /* line-height: 16px; */
    /* border-radius: 50%; */
    /* background-color: #bbb; */
    /* color: #fff; */
    padding: 0 7px;
    height: 100%;
    /* padding-bottom: 5px; */
    transition: 0.3s;
z-index: 2;

background-color: rgba(255, 153,0, 0.2);
/* border-radius: 5px; */
border: 1px solid rgb(227, 220, 178);
color: #ff9900;
font-size: 1.5rem;
line-height: 1.2rem;
/* opacity: 0.2; */
}

.input-reset:hover {
   background-color: rgba(255, 153,0, 0.3);
/* opacity: 0.3; */
}
/* .input-reset:before {
    content: "";
    color: #f90;
} */
.xcalend2 .datepicer-apply,
.select_item .apply {
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d70404;
    border-radius: 5px;
}

.xcalend2 .datepicer-apply:hover,
.select_item .apply:hover {
  background-color: #ec0303;
}
/* ul.checkselect.open::before{

} */

.table_body_item-type{
color:#707070;
}

.card__logo {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #e3e6e9;
    background-color: #ffffff;
    position: relative;
}

.card__logo:not(.company) {
-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    /* border: 4px solid #fff; */
    border: 5px solid #fff;
    outline: solid 1px var(--border-color);
 /* -webkit-box-shadow: 0 2px (0,0,0,80%); */
-webkit-box-shadow: 0 0 2px rgb(0 0 0 / 80%);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8);
    box-shadow: 0 0 2px rgba(0,0,0,.8);
    /* object-right: cover; */
object-fit: cover;
} 

.card__logo:not(.company) a source, .card__logo:not(.company) a img {
width: 100%;
    transform: scale(1.2);
}
.card__img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
object-fit: cover;
}


.card__logo:not(.company) {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    outline: solid 1px var(--border-color);
}
/* @media (min-width: 101.875em) 
.card__logo {
    width: 3.875rem;
}
*/

.card__logo {
    padding: 4px;
    border-radius: 5px;
    border: 5px solid #e3e6e9;
    background-color: #ffffff;
    position: relative;
}

.card__status p{
color:#707070;
}

.card__status span{
color:#665800;
}

/*svg donor*/
.checkselect-popup  svg path {
    fill: #a7c42a;
}
.checkselect-popup path {
    fill-opacity: 1;
}

.checkselect[data-text]:hover:after {
	content: attr(data-text);
	background: #fdf9e0;
	border: 1px solid #bebebe;
border-radius:5px;
	max-width: 200px;
	min-width: 100px;
	width: 100%;
	font-size: 12px;
	color: #000;
	text-align: center;
	padding: 5px 12px;
	position: absolute;
	bottom: 100%;
	left: 0;
	z-index: 2;
}
.card__status .card__status--online{
color: #6aa527;
}
.card__status .card__status--offline{
color: #707070;
}

/* div:focus {
    font-weight: bold;    -webkit-box-shadow: 0 2px (0,0,0,80%;
} */
