

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5)
}

.modal__dialog {
    max-width: 835px;

    margin: 120px auto
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    max-height: 80vh;
/* height: 755px; */
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal__title {
    text-align: center;
    font-size: 20px;
    /* text-transform: uppercase */

    font-weight: bold;
/* text-transform: capitalize; */

}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0
}

/* .modal .btn {
    display: block;
    width: 280px;
    margin: 0 auto
} */

.show{
  display: block;
}

.hide{
  display: none;
}
.modal hr {
    border:none;
   border-top: 1px double #f2f3f4;
    color: #f2f3f4;
    overflow: visible;
    text-align: center;
    height: 5px;
margin: 20px 40px 20px 0;
/* border:#f2f3f4; */
}

.modal__label-comments{
    font-size: 18px;
    font-weight: bold;
grid-area: a; 

}
.modal__add-comments{
    /* margin: 15px 0 20px; */
    width: 710px;
    height: 90px;
    border: 1px solid #f2f3f4;
    resize: none;
    overflow: auto;
  font-size: 15px;
    /* text-align: center; */
    padding: 15px 15px;
grid-area: b; 
}

.modal__form{
    /* place-items: center; */
    row-gap: 18px;

display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 100px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "a a ."
    "b b ."
    "c d .";

}

.modal__form-btn{
    display: inline-block;
    width: 165px;
    height: 30px;
    margin: 0 auto;
    font-size: 12px;
}

.btn-danger{
grid-area: c; 
margin-right: 5px;
 
}
.btn-warning{
grid-area: d; 
    margin-left: 5px;
 
}

/* .modal hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
} */

.modal__comments{
    position: relative;
margin-top: 15px;
padding: 0 20px ;
}
.modal__comments-btn-left {
    position: absolute;

	-moz-box-shadow:inset 0px 1px 0px 0px #ffdd00;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffdd00;
	box-shadow:inset 0px 1px 0px 0px #ffdd00;
	background-color:transparent;
	-webkit-border-radius:21px;
	-moz-border-radius:21px;
	border-radius:21px;
	border:1px solid #ffdd00;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:30px 5px;
	text-decoration:none;
	text-shadow:1px 0px 0px #ffdd00;
top: 40px;
left: -20px;
z-index: 200;
}
.modal__comments-btn-left:after { content: '\003C'; color:#ffdd00} 

.modal__comments-btn-left:hover {
	background-color:#ffdd00;
}
/* .modal__comments-btn-left:active {
	position:relative;
	top:1px;
} */

.modal__comments-btn-right {
    position: absolute;

	-moz-box-shadow:inset 0px 1px 0px 0px #ffdd00;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffdd00;
	box-shadow:inset 0px 1px 0px 0px #ffdd00;
	background-color:transparent;
	-webkit-border-radius:21px;
	-moz-border-radius:21px;
	border-radius:21px;
	border:1px solid #ffdd00;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:30px 5px;
	text-decoration:none;
	text-shadow:1px 0px 0px #ffdd00;
top: 40px;
right: -20px;
z-index: 200;
}
.modal__comments-btn-right:after { 
    content: '\003E'; 
    color:#ffdd00
} 

.modal__comments-btn-right:hover {
	background-color:#ffdd00;
}
/* .modal__comments-btn-right:active {
	position:relative;
	top:1px;
} */
.modal__comments-date{
    font-size:10px;
	font-weight:bold;
}

.modal__comments-text{
    font-size:10px;
    /* padding:  5px 0; */
line-height: 17px;
}