/* body{
  background-color: #f1f1f1;
  line-height: 160%;
  color: #909090;
  font-family: 'Montserrat', sans-serif;
} */
/* body a{
  color: #2196F3;
} 
.container{
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
}
input{
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
}

/* default end */
.tooltip {
	/* background: rgba(0,0,0,.9);
	color: #fff; */
	z-index: 9999;
	position: absolute;
	padding: 15px;
	max-width: 250px;
   border: 1px solid #bebebe;
    border-radius: 5px;
    max-width: 300px;
    min-width: 100px;
text-align: center;

    color: #ffffff;
    background-color: #505f79;
    /* background: #fdf9e0;
border: 1px solid #bebebe;
color: #000; */
}
.tooltip.animation-slide {
	-webkit-animation-name: slideTooltip;
	-webkit-animation-duration: .25s;
	-webkit-animation-timing-function: ease;
	animation-name: slideTooltip;
	animation-duration: .25s;
	animation-timing-function: ease;
}
@-webkit-keyframes slideTooltip {
	from {
		-webkit-transform: translateY(-20%);
		transform: translateY(-20%);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slideTooltip {
	from {
		-webkit-transform: translateY(-20%);
		transform: translateY(-20%);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
.tooltip .tooltip-arrow {
	position: absolute;
	border: 8px solid  #505f79;
}

.tooltip-arrow.bottomtotop {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	top: -16px;
}
.tooltip-arrow.toptobottom {
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	bottom: -16px;
}
.tooltip-arrow.righttoleft {
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
	left: -16px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.tooltip-arrow.lefttoright {
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
	right: -16px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.tooltip-arrow.center {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
  /* width: 0;
      height: 0;
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      border-top: 100px solid #6E18C0; */

#floatTip {
  position: absolute; /* Абсолютное позиционирование */
  width: 250px; /* Ширина блока */
  display: none; /* Прячем от показа */
  border: 1px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
  background: #ECF5E4; /* Цвет фона */
}